APP_ENV=development

DB_USER=student
DB_PASSWORD=change_me_db_password
DB_NAME=lab_db
MONGO_URI=mongodb://student:change_me_db_password@mongo:27017/lab_db?authSource=admin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password
CACHE_TTL_DEFAULT=300

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7

YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_CALLBACK_URL=http://localhost:8000/auth/oauth/yandex/callback
CLIENT_URL=http://localhost:8000/api/docs

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=change_me_minio_secret
MINIO_BUCKET=wp-labs-files
MINIO_USE_SSL=false
MAX_FILE_SIZE=10485760